<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/SachkovTech/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="YaraOduvanchik" />
      <add key="ClearTextPassword" value="password_tocken" />
    </github>
  </packageSourceCredentials>
</configuration>